aiohttp
altgraph
async-timeout
asyncio
beautifulsoup4
certifi
chardet
discord.py
future
idna
idna-ssl
multidict
pefile
pyinstaller
pyinstaller-hooks-contrib
pywin32-ctypes
requests
soupsieve
urllib3
vk
vk-api
websockets
yarl
youtube-dl
PyNaCl
multidict
Cybernator
pyflakes
discord.py[voice] ~= 1.4.0
colorlog
ffmpeg
Pillow
io
