absl-py
aiohttp
amg
appdirs
astroid
astunparse
async-timeout
attrs
beautifulsoup4
blessings
bowler
bpython
bs4
CacheControl
cachetools
cachy
Cerberus
certifi
cffi
cfgv
chardet
cleo
click
clikit
colorama
colorclass
covid
crashtest
cryptography
cs50
curtsies
Cybernator
cycler
DAWG-Python
dephell
dephell-archive
dephell-argparse
dephell-changelogs
dephell-discover
dephell-licenses
dephell-links
dephell-markers
dephell-pythons
dephell-setuptools
dephell-shells
dephell-specifier
dephell-venvs
dephell-versioning
discord
discord.py
distlib
docker
dockerpty
docopt
docutils
feedparser
ffmpeg
filelock
fissix
Flask
future
gast
geojson
glfw
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
html5lib
identify
idna
isort
itsdangerous
jedi
jeepney
Jinja2
joblib
jsonschema
Keras-Preprocessing
keyring
kiwisolver
lazy-object-proxy
lib
lockfile
lxml
m2r
Markdown
MarkupSafe
matplotlib
mccabe
mistune
moreorless
msgpack
multidict
nltk
nodeenv
numpy
oauthlib
opt-einsum
packaging
pandas
parameterized
parso
pastel
pexpect
Pillow
Pillow-PIL
pip-upgrader
pipreqs-amasad
pkginfo
pluggy
pre-commit
prompt-toolkit
protobuf
ptpython
ptyprocess
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
pydantic
pyflakes
Pygments
pylev
pylint
pymorphy2
pymorphy2-dicts-ru==2.4.417127.4579844
PyNaCl
PyOpenGL
pyowm
pyparsing
pyrsistent
PySocks
python-dateutil
python-jsonrpc-server
python-language-server
pyttsx3
PyYAML
regex
requests==2.24.0
requests-oauthlib
requests-toolbelt
rope
rsa
ruamel.yaml
ruamel.yaml.clib
scipy
SecretStorage
sgmllib3k
gtts
sh
shellingham
six
sounddevice
soupsieve
SQLAlchemy
sqlparse
tensorboard
tensorboard-plugin-wit
tensorflow-cpu @ https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.2.0-cp38-cp38-manylinux2010_x86_64.whl
tensorflow-estimator
termcolor
terminaltables
toml
tomlkit
tox
tqdm
translate
typer
typing-extensions
ujson
urllib3
virtualenv
vk
volatile
wcwidth
webencodings
websocket-client
Werkzeug
wrapt
yapf
yarg
yarl
yaspin
youtube-dl
