absl-py
aiohttp
amg
appdirs
astroid
astunparse
async-timeout
attrs
beautifulsoup4
blessings
bowler
bpython
bs4
CacheControl
cachetools
cachy
Cerberus
certifi
cffi
cfgv
chardet
cleo
click
clikit
colorama
colorclass
covid==2.4.0
crashtest==0.3.1
cryptography==3.1.1
cs50==5.1.0
curtsies==0.3.4
Cybernator==0.6.2
cycler==0.10.0
DAWG-Python==0.7.2
dephell==0.8.3
dephell-archive==0.1.7
dephell-argparse==0.1.3
dephell-changelogs==0.0.1
dephell-discover==0.2.10
dephell-licenses==0.1.7
dephell-links==0.1.5
dephell-markers==1.0.3
dephell-pythons==0.1.15
dephell-setuptools==0.2.4
dephell-shells==0.1.5
dephell-specifier==0.2.2
dephell-venvs==0.1.17
dephell-versioning==0.1.2
discord==1.0.1
discord.py==1.5.0
distlib==0.3.1
docker==4.3.1
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
feedparser==6.0.1
ffmpeg==1.4
filelock==3.0.12
fissix==20.8.0
Flask==1.1.2
future==0.18.2
gast==0.4.0
geojson==2.5.0
glfw==2.0.0
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.17
grpcio==1.32.0
h5py==2.10.0
html5lib==1.1
identify==1.5.6
idna==2.10
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
jeepney==0.4.3
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
keyring==21.4.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lib==3.0.0
lockfile==0.12.2
lxml==4.5.2
m2r==0.2.1
Markdown==3.3.1
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
moreorless==0.3.0
msgpack==1.0.0
multidict==5.0.0
nltk==3.5
nodeenv==1.5.0
numpy==1.19.2
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.3
parameterized==0.7.4
parso==0.7.1
pastel==0.2.1
pexpect==4.8.0
Pillow==8.0.0
Pillow-PIL==0.1.dev0
pip-upgrader==1.4.15
pipreqs-amasad==0.4.10
pkginfo==1.5.0.1
pluggy==0.13.1
pre-commit==2.7.1
prompt-toolkit==3.0.8
protobuf==3.13.0
ptpython==3.0.7
ptyprocess==0.6.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.6.1
pyflakes==2.2.0
Pygments==2.7.1
pylev==1.3.0
pylint==2.6.0
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyNaCl
PyOpenGL
pyowm
pyparsing
pyrsistent
PySocks
python-dateutil
python-jsonrpc-server
python-language-server
pyttsx3
PyYAML
regex
replit==2.0.0
requests==2.24.0
requests-oauthlib
requests-toolbelt
rope
rsa
ruamel.yaml
ruamel.yaml.clib
scipy
SecretStorage
sgmllib3k
gtts
sh
shellingham
six
sounddevice
soupsieve
SQLAlchemy
sqlparse
tensorboard
tensorboard-plugin-wit
tensorflow-cpu @ https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.2.0-cp38-cp38-manylinux2010_x86_64.whl
tensorflow-estimator
termcolor
terminaltables
toml
tomlkit
tox
tqdm
translate
typer
typing-extensions
ujson
urllib3
virtualenv==20.0.35
vk==2.0.2
volatile==2.1.0
wcwidth
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
yapf
yarg
yarl
yaspin
youtube-dl==2020.7.28
